

<div class="ui reply form art" id="cform">
  <%= form_for([@article, @article.comments.build],:remote => true, :html => { :id => 'new_comment' }) do |f| %>
    <div class="field">
      <%= f.cktext_area :body%>
    </div>
    <div class="field">
      <label>tags</label>
      <ul id="comment-tags"></ul>
    </div>
      <%= f.submit "Comment", :disable_with => 'Commenting....' , class:"ui button" %>

<% end %>
<button class="ui violet basic button" id="cancel_button">Cancel</button>
<div class="comment_form_pad"></div>
</div>
