

  <% if current_user.favorite_articles.include? @article %>
    <%= link_to ('<div id=fav_ico_d></div>').html_safe , favorite_article_path(@article), method: "post", :remote => true  %>
  <% else %>
    <%= link_to ('<div id=fav_ico></div>').html_safe , favorite_article_path(@article), method: "post", :remote => true  %>
  <% end %>
  <div id="fav_count">
    <%= @article.favorites.count %>
  </div>
