<div class="ui left labeled button" tabindex="0">
  <div class="ui mini horizontal statistic">
   <div class="value" id = "vote_count">
       <%= @article.favorites.count %>
     </div>
 </div>

    <% if current_user.favorite_articles.include? @article %>
      <%= link_to ('<i class="large yellow star icon"></i>').html_safe , :controller => "articles", :action => "favorite", method: "post", :remote => true  %>
    <% else %>
      <%= link_to ('<i class="large black star icon"></i>').html_safe , :controller => "articles", :action => "favorite", method: "post", :remote => true  %>
    <% end %>
  </div>
