.formcetre {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
.regerror , .alert.alert-danger{
  color:red;
}
.ui.navbar{margin-top: -13px;}

.newpost{
  top:10%;
  position: relative;
}
.ui.art input[type="text"]{
  border: none;
  padding: 0 0;

}

.expinput{
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.67861429em 1em;
}


body {
  font-family:"Arial", Helvetic, sans-serif
}
