#comment_container{
  height: auto;
  border-top:2px solid #f2f1ef;
}
#comment_container .comment_padding{
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
#comment_container .comment_head{
  height: auto;
  padding-bottom: 30px;
}
#comment_container .comment_head_left{
  font-size: 14px;
  font-weight: bold;
  color: #999;
  float: left;
}
#comment_container .comment_head_right{
  font-size: 16px;
  font-weight: bold;
  color: #e67e22;
  float: right;
  cursor: pointer; cursor: hand;
}
#comment_container .comments
{
  height: auto;
  font-size: 14px;
  color: #333;
  border-bottom:1px solid #f2f1ef;
  padding-top: 20px;
  padding-bottom: 20px;
}
#comment_container .comment_info{
  padding-top: 20px;
  padding-bottom: 20px;
}
#comment_container .time{

  font-size: 12px;
  color: #999;
}
#comment_container .author{

  font-size: 12px;
  color: #333;
}
#comment_container  .comment_body p{
  line-height: 25px;
  }

#cform .comment_form_pad{
  padding-bottom: 50px;
  border-bottom:1px solid #f2f1ef;
}
#cform .ui.button{
  background-color: #8e44ad;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;

}
#comment_container .vote_comment{
  float: right;
  font-size: 12px;
  color: #999;
}
#comment_container .up_vote_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -80px;
}
#comment_container .down_vote_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -80px;
}
#comment_container .up_vote_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -100px;
}
#comment_container .down_vote_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -100px;
}
#comment_container .up_vote_ico_d{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -120px;
}
#comment_container .down_vote_ico_d{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -120px;
}
#comment_container .vote_count{
  float: left;
  padding-left: 5px;
}
#comment_container .up_vote{
  float: left;
  padding-left: 5px;
}
#comment_container .down_vote{
  float: left;
  padding-left: 15px;

}
