#sort_list ul li{
  display: inline;
  padding-right: 40px;
}
#sort_list a{
  color: #999999;
  font-size: 14px;
}
#sort_list ul {
  line-height: 33px;
  margin-left: -33px;
}

#sort_list{
  margin-top: 50px;
  margin-bottom: 40px;

}

#sort_list .active a{
  padding-bottom: 10px;
  border-bottom:3px solid #e67e22;
}

#post{
  background-color: white;
}

#spacing_index{
  margin-bottom: 20px;
}



#index_comment{
  width: 10%;
  min-height: 110px;
  float: right;
}
#index_comment :hover{
   background-color:#FFD4AE;
}
#index_favorite{
  width: 10%;
  min-height: 110px;
  border-left:1px solid #f2f1ef;
  border-right:1px solid #f2f1ef;
  float: right;
}
#index_favorite :hover{
   background-color:#FFD4AE;
}
#post{
  min-height: 110px;
  border-radius: 4px;
}
#fav_ico_d{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -60px ;
  float: left;
}
#fav_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -20px ;
  float: left;
}
#fav_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) 0px -40px ;
  float: left;
}
#comment_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -20px ;
  float: left;
}
#comment_ico:hover{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -20px -40px ;
  float: left;
}
#fav_count {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #999999;
  padding-left: 10px;

}

#post_align_centre{
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
#content{
  float: left;
  width: 75%;
  position: relative;
  padding-bottom: 50px;
}
#content .content_padding{
  padding-top: 20px;
  padding-left: 20px;
}
#content .title a{
  font-size: 16px;
  color: #333333;
}
#content .title a:hover{
  color: #8e44ad;
}
#content .foot{
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: 0;
}
#content .time{
  float: left;
}
#content .author{
  padding-left: 5px;
  float: left;
}
#content .tags{
  padding-left: 30px;
  float: left;

}
#tag_ico{
  width: 20px;
  height: 20px;
  background: url(/Sprite_20px.png) -40px -20px ;
  float: left;
  margin-right: 30px;
}
#content .tags a{
  color: #999999;
  padding-right: 15px;
}
#content .author a{
  color: #333333;
}

.top_pad{
  padding-top: 30px;
}
