
.popup.visible .popup-body {
    border-radius: 4px;
    width: 700px;
    height: auto;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    padding: 0;
}
.popup {
    position: fixed;
    top: 30%;
    left: 43%;

}
#invite_button_group .ui.button {
    background-color: #8e44ad;
    color: white;
    font-size: 16px;
    float: left;
    height: 33px;
    padding-top: 8px;
    margin-right: 10px;
}


#invite_head{
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-bottom:1px solid #ccc;
  width: 100%;
}
.ui-autocomplete{
  z-index: 2147483647;
  position: fixed;
}
.ui-widget-content ul{
  z-index: 2147483647;
}

.ui-autocomplete, .ui-front, .ui-menu, .ui-widget, .ui-widget-content{
  z-index: 2147483647;
}
#selected_val {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 34px;
  word-break: break-all;
}
#selected_val .shared_item{
    display: inline;
    padding-left: 20px;
    padding-bottom: 20px;
    color: #8e44ad;
}

#invite_search{
  padding-top: 30px;
  margin-left: -384px;
}



#invite_search .ui.input{
  width: 250px;
}


.ui.button{
  background-color: #8e44ad;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  float: left;

}

.ui.button:hover{
  background-color: #8e44ad;
  color: white;
  font-size: 16px;

}
#invite_button_group{
  height: 75px;
  padding-top: 20px;
  padding-left: 35px;
  margin-bottom: 20px;
}



.ui-menu .ui-menu-item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.71428571rem 1.14285714rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  box-shadow: none;
  -webkit-touch-callout: none;
  background-color: white;
}
